.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
AWSCLIV2.pkg
.env
docker/.env
data/raw/mars_data.xlsx
data/processed/
data/features/
mlruns/
models/
data/
mlruns/
*.pkl
*.pt
*.h5
*.xlsx
*.csv
__pycache__/
*.pyc
.venv*/