pandas
numpy
statsmodels
scikit-learn
psycopg2-binary
openpyxl
fastapi
uvicorn
celery
redis
matplotlib
streamlit
pmdarima
plotly
mlflow
requests
python-multipart
lightgbm
xgboost
boruta
mapie
shap
optuna
mlflow
seaborn