pandas
numpy
statsmodels
scikit-learn
openpyxl
fastapi
uvicorn[standard]
streamlit
pmdarima
plotly
mlflow
requests
python-multipart
lightgbm
xgboost==2.1.4
shap
optuna
seaborn
matplotlib
prophet
scipy
boruta
pymannkendall